<configuration>

 <appSettings>
  


<add key="NODE_ENV" value="production" />
    <!-- Sitecore API key -->
    <add key="SITECORE_API_KEY" value="{32B5D5D0-4EFC-427C-8322-139E347B450A}" />

    <!-- Sitecore API host -->
    <add key="SITECORE_API_HOST" value="http://unisites.dev-cms.local" />

   

    <!-- Sitecore site name -->
    <add key="SITECORE_SITE_NAME" value="site-one" />

    

    <!-- Number of retries for GraphQL services -->
    <add key="GRAPH_QL_SERVICE_RETRIES" value="3" />

    <!-- Data fetch method (REST or GraphQL) -->
    <add key="FETCH_WITH" value="REST" />

    <!-- Debugging configuration for Sitecore JSS -->
    <add key="DEBUG" value="sitecore-jss:*" />
    <add key="IISNODE_EXECUTE_OUT_OF_PROCESS" value="1" />
  </appSettings>
  
  <system.webServer>    
  
    <rewrite>
      <rules>
        <rule name="myapp">
         <match url="^(.*)$" />
         
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode node_env="production"  />

  </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
		
          <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
        </system.webServer>
    </location>
	<system.web>

</system.web>
</configuration>